<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body>
		{{> igem_placeholder}}

    <!--div class="darkened">
      <img src="/images/logos/dark.png" class="logo"-->
      {{> header}}
      {{> main}}
      {{> footer}}
    <!--/div-->
  </body>
</html>