<nav>
  <div id="line">
    <ul>
      <li class="home">
        <a href="/index.html">
          <!--img src="/images/logos/medallion_small.png" alt="Qurous Logo"></img-->
          Home
        </a>
      </li>
      <li class="quorus">
        <a href="#">Quorus</a>
        <ul>
          <li><a href="/Overview_Project.html">Overview</a></li>
          <li><a href="/Description.html">Description</a></li>
          <li><a href="/Design.html">Design</a></li>
          <li><a href="/Experiments.html">Experiments</a></li>
          <li><a href="/Notebook.html">Notebook</a></li>
          <li><a href="/InterLab.html">InterLab</a></li>
          <li><a href="/Model.html">Model</a></li>
          <li><a href="/Results.html">Results</a></li>
          <li><a href="/Demonstrate.html">Demonstrate</a></li>
          <li><a href="/Improve.html">Improve</a></li>
          <li><a href="/Parts.html">Overview</a></li>
          <li><a href="/Basic_Part.html">Basic Parts</a></li>
          <li><a href="/Composite_Part.html">Composite Parts</a></li>
          <li><a href="/Part_Collection.html">Part Collection</a></li>
          <li><a href="/Safety.html">Safety</a></li>
        </ul>
      </li>
      <li class="hp">
        <a href="#">Human Practices</a>
        <ul>
        <li><a href="/Overview_HP.html">Overview</a></li>
        <li><a href="/Human_Practices.html">Human Practices</a></li>
        <li><a href="/Public_Engagement.html">Public Engagement</a></li>
        </ul>
      </li>
      <li class="team">
        <a href="#">Team</a>
        <ul>
        <li><a href="/Team.html">Team Members</a></li>
        <li><a href="/Collaborations.html">Collaborations</a></li>
        <li><a href="/Attributions.html">Attributions</a></li>
        </ul>
      </li>
      <li class="competition">
        <a href="#">Competition</a>
        <ul>
        <li><a href="/Applied_Design.html">Applied Design</a></li>
        <li><a href="/Entrepreneurship.html">Entrepreneurship</a></li>
        <li><a href="/Hardware.html">Hardware</a></li>
        <li><a href="/Measurement.html">Measurement</a></li>
        <li><a href="/Model.html">Model</a></li>
        <!--li><a href="/Plant.html">Plant</a></li-->
        <li><a href="/Software.html">Software</a></li>
        <li>
          <a href="https://igem.org/2018_Judging_Form?team=Virginia.html">Judging Form ⇗</a>
        </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>