.darkened {
  z-index: 1000;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  color: $background-dark;
  background-color: $background-dark;
  * {
    display: none;
    visibility: 0;
    //z-index: -1;
  }
  &>.logo {
    //background-color: red;
    display: block;
    visibility: 1;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    max-width: 512px;
  }
}
.category-gallery {
  $category-grid: ( gutter: 30px, media: 1000px, );
  @include grid-container;
  padding: 3% 5%;
  background-color: $background-light;
  overflow: hidden;
  div {
    position: relative;
    a {
      position: relative;
      display: block;
      overflow: hidden;
      overflow-y: scroll;
      overflow-x: hidden;
      p {
        font-size: 2em;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -0.5em;
        margin-left: -0.25em;
        z-index: 9;
        /*overlay text over*/
        transition: all 0.2s;
        text-align: center;
      }
      &:hover img {
        //background-color: black;
        image-orientation: from-image;
        opacity: 0.10;
      }
      &:hover p {
        display: block;
      }
      img {
        @include circular;
        image-orientation: from-image;
        margin-bottom: 25px;
        min-width: 90%;
        min-height: 90%;
        transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.7s;
      }
    }
  }
}

.petri-dish {
  display: none;
  @include circular;
  background-color: $background-dark;
  transform: translate(-50%, -50%);
}