<div class="footer-name">
  <img class="logo" src="/images/Wireframe_Logo_Light.png" alt="Virginia iGEM Logo"> 
  <h3>Virginia iGEM 2018</h3>
</div>
<div class="spacer">
  <!--
  <a href="#top">
  <h3>▲ To top</h3> 
  </a>
  -->
</div>
<!--Code courtesy of https://codepen.io/brandondward/pen/RpyaKL-->
<div class="social-container">
  <ul class="social-icons">
    <li><a href="https://twitter.com/virginia_igem?lang=en"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://github.com/Virginia-iGEM/"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.facebook.com/virginiaigem/"><i class="fa fa-facebook"></i></a></li>
    <li><a href="mailto:virginia.igem@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
  </ul>
</div>