@import "igemwiki-override";
@import "fonts";
@import "bourbon";
@import "neat";

/* UVA Colors
$background-dark-color:     #232D4B;
$background-light-color:    #ffffff;
$accent-color:              #E57200;
$light-accent-color:        rgb(255, 191, 128);
$text-light:                #ffffff;
$text-dark-color:                 #666666;
$link-color:                #EB5F0C;
*/

 /*Cherenkov Colors*/
 /*
$background-dark-color:#282828;
$background-light-color:#C3C3D8;
$accent-color: #BFFBF9;
$text-light: #E8F9F9;
$text-dark-color: #001C4E;
$link-color: #3DD4DF;
*/

/*Passion Fruit Colors*/
/*
$background-dark-color:#FAF4E0;
$background-light-color:rgb(128, 39, 81);
$accent-color: #F5287F;
$light-accent-color: rgb(255, 142, 189);
$text-light: #1E0811;
$text-dark-color: #FFF0EF;
$link-color: #FBB645;
*/

/*Clean, bright theme*/
/*https://www.canva.com/learn/website-color-schemes*/
/*
$background-dark-color: #4484CE;
$background-light-color: rgb(255,255,255);
$accent-color: #F19F4D;
$accent-light-color: #F9CF00;
$text-light-color: rgb(255, 255, 255);
$text-dark-color: #0A1612;
$link-color: rgb(255, 218, 159);
$template-dark-color: #D9D9D9;
*/

/*
$background-dark-color: rgb(37, 37, 37);
$background-light-color: rgb(247, 245, 233);
$accent-color: rgb(44, 106, 148);
$accent-light-color: rgb(0, 195, 255);
$text-light-color: rgb(255, 253, 255);
$text-dark-color: rgb(129, 127, 116);
$link-color: rgb(255, 218, 159);
*/

$background-dark:   #1a1a1a;
$background-dark-1:   #424242;
$background-light:  #fffefb;
$background-light-1:  #f8f8f8;
/*$background-light:  #ffffff;*/
$accent-warm:       #eb00c2;
$accent-warm-1:     #aa34ba;
$accent-warm-2:     #8a67b5;
$accent-cold:       #26fffa;
$accent-cold-1:     rgb(36, 190, 228);
$accent-cold-2:     rgb(31, 157, 189);
$text-dark:           $background-dark;
$text-light:          $background-light;

//$link-color:                $accent-cold-1;

//$breakpoint: 1000px; // If the screen is under this width, switch to mobile view
$breakpoint: calc(20em + 65em); // If the screen is under this width, switch to mobile view

$font-family: "OpenSans";
$font-size: medium;

@mixin common-style {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em !important;
    margin-bottom: 2em !important;
    font-weight: bold !important;
    font-size: $font-size !important;
    font-family: $font-family !important;
  }
  h1 {
    margin-left: 2em !important;
    font-size: 2.2em !important;
  }
  h2 {
    margin-left: 2em !important;
    font-size: 2em !important;
  }
  h3 {
    margin-left: 4em !important;
    font-size: 1.8em !important;
  }
  h4 {
    margin-left: 4em !important;
    font-size: 1.6em !important;
  }
  h5 {
    margin-left: 4em !important;
    font-size: 1.4em !important;
  }
  h6 {
    margin-left: 4em !important;
    font-size: 1.2em !important;
  }

  p {
    margin: 2em 2em !important;
    line-height: 3em !important;
    font-size: $font-size !important;
    font-family: $font-family !important;
    color: $text-dark !important;
  }
}


@mixin shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@mixin shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin circular {
    border-radius: 50%;
}

@mixin block-height($height) {
    line-height: $height;
    height: $height;
}
