header {
  // Establish variables
  $nav-height: 3em; // Navbar height
  $nav-padding: 0em;
  /*Keeps the nav bar sticking on the top*/ 
  $nav-background-color: $background-light;
  $nav-text-color: $accent-cold-2;
  $nav-accent-color: $accent-warm-1;

  // Custom grids for navbar and dropdown
  $nav-grid: (
    columns: 8, // 1 column for each item
    gutter: 0px,
  );
  $nav-grid-dropdown: (
      columns: 1,
      gutter: 0px,
  );

  @include common-style;

  // BEGIN STYLING
  &, * {
    box-sizing: border-box; // Use box sizing for entire navbar to avoid clipping
  }
  // Stick to top of window
  position: sticky; // Stick to top of screen
  top: $igem-navbar-height; // Compensate for the iGEM Wiki builtin navbar.
  margin: 0 auto;
  padding: $nav-padding 0;
  z-index: 999; // This goes over *everything*
  width: max-content;
  text-align: center;
  background-color: $nav-background-color;
  width: 100%;

  transition: all 0.1s;
  //transform: translateX(25vw);
  //opacity: 1;
  &.scrollUp {
    transform: translateY(-$nav-height);
    //opacity: 0;
  }

  #navbar {
    height: $nav-height;
    //width: 100%;
    display: flex;
    justify-content: center;
    @include shadow-1;
    ul {
      //@include grid-container;
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        //@include grid-column(1, $nav-grid);
        float: left;
        position: relative; // This is required for dropdowns to be positioned relative to the navbar instead of the browser window
        line-height: $nav-height; // Center text
        height: $nav-height; // Set container height to navbar height
        /*a, related to link*/
        a, a:visited {
          display: flex;
          align-items: center;
          padding: 0 20px;
          height: 100%;
          width: 100%;
          background: $nav-background-color;
          color: $nav-text-color;
          font-size: 1em;
          white-space: nowrap; // Text is occlude dinstead of wrapped
          // Re-add link glow to fix animation
          transition: all 0.2s ease-in-out;
          img {
            display: inline-block;
            padding: 0.5rem;
            min-height: 100%;
            height: auto;
            width: auto;
          }
          &:hover {
            color: $nav-accent-color;
            text-shadow: 0px 0px 8px $nav-accent-color;
          }
          /*adds the arrow to dropdowns, selects not only-child*/
          &:not(:only-child):after {
            padding-left: 4px;
            content: ' ▾';
          }
        }
        ul {
          @include grid-container;
          @include shadow-1;
          position: absolute;

          // Slide-down animation
          visibility: hidden;
          opacity: 0;
          top: 100%;
          left: 50%;
          transform: translateX(-50%) translateY(-2em);
          transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

          li {
            @include grid-column(1, $nav-grid-dropdown);
            overflow: hidden;
          }
        }
        &:focus > ul, &:hover > ul {
          // All for animation
          //display: block;
          //z-index: 1; // Is placed underneath navbar
          visibility: visible; // Becomes visible
          opacity: 1; // Fades in
          transform: translateX(-50%) translateY(0%); // Slides down
          transition-delay: 0s, 0s, 0.3s;
        }
      }
    }
  }
}

