header {
  // Establish variables
  $nav-height-expanded: 20em;
  $nav-padding: 0;

  //Keeps the nav bar sticking on the top
  $nav-background-color: $background-dark-1;
  $nav-text-color: $text-light;
  $nav-accent-color: $accent-cold;

  // Custom grids for navbar and dropdown
  $nav-grid: (
    columns: 8, // 1 column for each item
    gutter: 0
  );
  $nav-grid-dropdown: (
    columns: 1,
    gutter: 0
  );

  @include common-style;
  // Stick to top of window
  background-color: $nav-background-color;
  margin: 0 auto;
  overflow: hidden;
  padding: $nav-padding 0;
  position: fixed; // Stick to top of screen
  text-align: center;
  top: $igem-navbar-height; // Compensate for the iGEM Wiki builtin navbar.
  transition: all .1s;
  width: 100%;
  z-index: 999; // This goes over *everything*

  // BEGIN STYLING
  &,
  * {
    box-sizing: border-box; // Use box sizing for entire navbar to avoid clipping
  }

  &.scrollUp {
    transform: translateY(-$nav-height);
    //opacity: 0;
  }

  #navbar {
    display: flex;
    height: $nav-height;
    justify-content: center;
    padding-bottom: 1em;

    &:hover,
    &:focus {
      height: auto;

      & > ul > li {
        height: auto;
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        flex: 1;
        float: left;
        line-height: $nav-height; // Center text
        position: relative; // This is required for dropdowns to be positioned relative to the navbar instead of the browser window

        // dividers for easier/organized view
        .divider {
          background-color: $nav-accent-color;
          flex: 0 0 1px;
          overflow: hidden;
        }

        //a, related to link
        a,
        a:visited {

          align-items: center;
          color: $nav-text-color;
          display: flex;
          font-size: 1em;
          padding: 0 20px;
          transition: all 0.2s ease-in-out; // Re-add link glow to fix animation
          white-space: nowrap; // Text is occluded instead of wrapped
          width: 100%;

          img {
            display: inline-block;
            height: auto;
            margin: .1rem;
            min-height: 100%;
            width: auto;
          }

          &:hover {
            color: $nav-accent-color;
            text-shadow: 0 0 8px $nav-accent-color;
          }

          // adds the arrow to dropdowns, selects not only-child
          &:not(:only-child):after {
            content: ' ▾';
            padding-left: 4px;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          transition: all .2s ease-in-out 0s, visibility 0s linear .3s, z-index 0s linear .01s; // Slide-down animation

          li {
            font-size: .8em;
            overflow: hidden;
          }
        }
      }
    }
  }
}

