@import "../../node_modules/css-reset-and-normalize/scss/reset-and-normalize";

// Adapted from iGEM Peshawar 2016 iGEM Wiki Overrides, used with their Codekit build system
$igem-navbar-height: 16px; // Variable for the height of the required iGEM Navbar. Use for sizing your own navbar.
/* Override iGEM wiki settings, removing everything but the top navbar. */



/*Taken from 2011 SDU Denmark iGEM page*/
#contentSub, #search-controls, .firstHeading, #footer-box, #catlinks, #p-logo {
    display:none;
  }
#top-section {
    border: none;
    height: 0px;
  }

/* Removes "teams" from the menubar */
#menubar > ul > li:last-child {
    display: none;
  }
/* Resizes the menubar to fix the links (default is 400px) */
#menubar {
    width: auto;
  }

body {
    margin: 10px 0 0 0;
    padding: 0;}
#top-section {
    width: 965px;
    height: 0;
    margin: 0 auto;
    padding: 0;
    border: none;}
#menubar {
    font-size: 65%;
    top: -14px;}
.left-menu:hover {
    background-color: transparent;}
#menubar li a {
    background-color: transparent;}
#menubar:hover {
    color: white;}
#menubar li a {
    color: transparent;}
#menubar:hover li a {
    color: white;}

#sideMenu,
#top_title {
  display: none;
}

#content {
  // Make content behave like one would expect a body to
  width: 100vw;
  padding: 0px;
  border: none;
  color: black;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  position: relative;
}

#globalWrapper {
  font-size: inherit;
  padding-bottom: 0;
}

#top_menu_under {
  // Remove spacer between iGEM navbar and content
  height: 0px;
}

ul {
  list-style-image: none;
  /* removes the iGEM wiki bullets */
  padding: 0;
  margin: 0;
}

#mw-content-text>p {
  // make <p> containing <head> tags invisible
  //font-size: medium;
  width: 0px;
  height: 0px;
}

#igem-navbar-placeholder {
  // Placeholder that "subs in" for the iGEM navbar on dev builds
  height: $igem-navbar-height;
  position: fixed;
  top: 0; // Push to top of screen
  display: block;
  background-color: #383838;
  border-bottom: solid black 2px;
  color: white;
  z-index: 9999;
  width: 100%;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  p {
    margin: 0;
  }
}

//MathJax CSS hack to remove annoyning right-side spans (from 2016 Team Peshwar)
.MathJax nobr>span.math>span {
  border-left-width: 0 !important;
}
