nav {
  flex: 1 0;
  max-width: 30em;

  #toc {
    padding: $nav-height + 3em 2em;
    position: sticky;
    top: 0;
    white-space: nowrap;

    h1 {
      font-size: 1.5em;
    }

    ul { // Primary ToC
      li { // First-level headers
        padding: .5em 0;

        a {
          font-size: 1.3em;
        }

        ul { // Subheaders
          // For expand animation
          height: 0;
          overflow: hidden;
          padding: .75em 0 .5em 1em;

          &.current {
            height: auto;
          }

          li { // Second-level headers
            a {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint) {
  nav>#toc {
    ul>li>ul {
      height: auto;
    }
  }
}
