nav {
  @include grid-column(1, $grid-layout);
  @include grid-media($grid-layout-media) {
    @include grid-column(2);
  }
  box-sizing: border-box;
  position: relative;
  background-color: $background-light-1;
  min-height: 100vh;
  margin: 0;
  padding: 2em;
  // Add vertical line
  &::before {
    content: '';
    position: fixed;
    clear: both;
    top: 0px;
    left: 3em;
    bottom: 0px;
    transform: translateX(-50%);
    width: 4px;
    background-color: $background-dark;
  }
  #line {
    position: fixed;
    //overflow: hidden;
    li {
      list-style: none;
      width: calc(100% - 4em);
      max-width: 400px;
      margin: auto;
      padding: 3em 2em 0 2em;
      position: relative;
      left: -5px;
      a::before {
        content: '';
        position: absolute;
        width: 64px;
        height: 64px;
        border: 3px solid $background-light;
        background-color: $accent-cold-1;
        border-radius: 100%;
        top: 3.5em;
        transform: translateY(-50%);
        right: 6.55em;
        z-index: 100;
      }
      ul {
        display: none;
        font-size: 0.8em;
        padding-top: 3em;
        li {
          a::before {
            width: 12px;
            height: 12px;
            right: 5.35em;
            top: 0.75em;
          }
          padding: 0.5vh 0;
        }
      }
      &.current ul{
        display: block;
      }
    }
  }
}