/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #0A1612;
    cursor: pointer;
}

/* Tooltip text */
.tooltip span {
    display: block;
    visibility: hidden;
    background-color: $background-dark;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    font-weight: normal;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    //margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.8s;
}

/* Tooltip arrow */
.tooltip span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $background-dark transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .shortdef {
    visibility: visible;
    width: 20vw;
    opacity: 1;
}

.tooltip:active {
    .longdef {
      width: 40vw;
      visibility: visible;
      opacity: 1;
    }
    .shortdef {
      visibility: hidden;
      opacity: 0;
    }
}
