<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/dist/js/vendor.js"></script>
	<link rel="stylesheet" href="/dist/css/vendor.css">
	<script>
		$(function() {
			$('header').load('/templates/header.html');
			$('footer').load('/templates/footer.html');
		});
	</script>
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/wiki.js"></script>
	<!--Added MathJax hack to make inline equations work-->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		tex2jax: {
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		processEscapes: true
	}
});
</script>   </head>

<body>
	<div id="igem-navbar-placeholder">
		<p>Placeholder for iGEM Navbar</p>
	</div>
	<header></header>
    <main id="top">
		<article>
			<h1> Hardware </h1>

			<p> iGEM is about making teams of students making synthetic biology projects. We encourage teams to work with parts and build biological devices in the lab. But we are inclusive and want all teams to work on many other types of problems in synbio. Robotic assembly, microfluidics, low cost equipment and measurement hardware are all areas ripe for innovation in synbio. </p>

			<p> Teams who are interested in working with hardware as a side project are encouraged to apply for the hardware award. </p>

			<p> To compete for the Best Hardware prize, please describe your work on this page and also fill out the description on the judging form. </p>
		</article>
    </main>
  <footer></footer>
</body>
</html>


