<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/dist/js/vendor.js"></script>
	<link rel="stylesheet" href="/dist/css/vendor.css">
	<script>
		$(function() {
			$('header').load('/templates/header.html');
			$('footer').load('/templates/footer.html');
		});
	</script>
	<link rel="stylesheet" href="/css/styles.css">
	<script src="/js/wiki.js"></script>
	<!--Added MathJax hack to make inline equations work-->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		tex2jax: {
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		processEscapes: true
	}
});
</script>   </head>

<body>
	<div id="igem-navbar-placeholder">
		<p>Placeholder for iGEM Navbar</p>
	</div>
	<header></header>
    <main id="top">
		<article>
			<h1> Improve </h1>

			<p> For teams seeking to improve upon a previous part or project, you should document all of your work on this page. Please remember to include all part measurement and characterization data on the part page on the Registry. Please include a link to your improved part on this page. </p>

			<p> Gold Medal Criterion </p>

			<p> Standard Tracks: Create a new part that has a functional improvement upon an existing BioBrick part. The sequences of the new and existing parts must be different. You must perform experiments with both parts to demonstrate this improvement. Document the experimental characterization on the Part's Main Page on the Registry for both the existing and new parts. Both the new and existing Main Page of each Part’s Registry entry must reference each other. Submit a sample of the new part to the Registry. The existing part must NOT be from your 2018 part number range and must be different from the part documented in bronze #4. </p>

			<p> Special Tracks: Improve the function of an existing iGEM project (that your current team did not originally create) and display your achievement on your wiki. </p>
		</article>
    </main>
  <footer></footer>
</body>
</html>


