<!-- This footer appears at the bottom of every page that you make. You can customize it with your team logo, sponsors, contact information, etc. -->

<div class="footer-name">
  <h3>iGEM 2018</h3>
</div>
<div class="spacer">
</div>
<!--Code courtesy of https://codepen.io/brandondward/pen/RpyaKL-->
<div class="social-container">
  <ul class="social-icons">
    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://github.com"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
    <li><a href="mailto:hq@igem.org"><i class="fa fa-envelope-o"></i></a></li>
  </ul>
</div>