#image_gallery {
  @include grid-container;
  img {
    @include grid-column(4);
    margin: 10px;
    @include circular;
    object-fit: cover;
    width: 150px;
    height: 150px;
    @include shadow-2;
  }
  padding: 3% 5%;
  background-color: $background-light;
  overflow: hidden;
  position: relative;

  a {
    position: relative;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    p {
      font-size: 2em;
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -0.5em;
      margin-left: -0.25em;
      z-index: 9;
      /*overlay text over*/
      transition: all 0.2s;
      text-align: center;
    }
    &:hover img {
      //background-color: black;
      image-orientation: from-image;
      opacity: 0.10;
    }
    &:hover p {
      display: block;
    }
    img {
      @include circular;
      @include grid-column(1);
      image-orientation: from-image;
      margin-bottom: 25px;
      min-width: 90%;
      min-height: 90%;
      transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.7s;
    }
  }
}

.team-bio {
  margin: 6%;
  line-height: 2em;
  font-size: $font-size;
  font-family: $font-family;
  color: $text-dark;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}
.hidden { 
  display: none; 
}
.unhidden { 
  display: block; 
}

